[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/conholo/imgui-docking-fork
